<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <connectionStrings>
    <add name="SqlSecurityDB" connectionString="Server=otk-dbdev-01;database=denney;user id=denney; password=2994;"/>
  </connectionStrings>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" defaultUrl="EditProfile.aspx" />
      </authentication>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>

      <membership defaultProvider="SqlMembership">
        <providers>
          <add name="SqlMembership"
               type="System.Web.Security.SqlMembershipProvider"
               connectionStringName="SqlSecurityDB"
               applicationName="CST465"
               enablePasswordRetrieval="false"
               enablePasswordReset="true"
               requiresQuestionAndAnswer="true"
               requiresUniqueEmail="true"
               passwordFormat="Hashed"/>
        </providers>
      </membership>
      
      <compilation debug="true" targetFramework="4.5" />
      <sessionState mode="InProc"></sessionState>
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
</configuration>
